body {
    margin: 0px;
    background-color: rgba(236, 237, 239, .1);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: black;
    min-width: 375px;
    height: auto;
}

.navbar {
    left: 0;
    background-color: rgb(64, 140, 232);
    width: 100%;
    height: 80px;
}

.nav-container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 7px;
    margin-bottom: 0;
}

.navbar-menu li {
    display: inline-block;
}

.navbar li a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: rgba(236, 237, 239, 1);
    margin-left: 46px;
}

.navbar-brand {
    text-decoration: none;
    color: rgba(236, 237, 239, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 24px;
    height: 14px;
}

.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: rgba(236, 237, 239, 1);
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgba(236, 237, 239, 1);
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%); 
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

section {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 70px;
}

h1 {
    font-size: 50px;
}

.dohoda-one {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
}

.footer {
    background-color: rgb(64, 140, 232);
    width: 100%;
    height: 400px;
    position: relative;
}

.footer-content {
    display: flex;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.fot-container{
    display: inline-block;
    vertical-align: middle;
    margin-top: 165px;
}

.footer-brand {
    text-decoration: none;
    color: rgba(236, 237, 239, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 60px;
    display: inline-block;
    vertical-align: middle;
}

.footer-wrap{
    display: inline-block;
    vertical-align: middle;
    margin-top: 138px;
}

.footer-menu {
    list-style-type: none;
    margin: 0;
    padding-left: 180px;
    text-align: center;
}

.footer-menu li {
    padding-bottom: 10px;
}

.footer-menu li a {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgba(236, 237, 239, 1);
}

.sm-icons {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding-left: 118px;
    vertical-align: middle;
    margin-top: 120px;
}

.instagram {
    border: 0px;
    width: 62px;
    height: 62px;
    background-color: rgb(64, 140, 232);
    border: none;
    padding: 0;
    display: inline-block;
    margin-bottom: 26px;
}

.telegram {
    border: 0px;
    width: 62px;
    height: 62px;
    background-color: rgb(64, 140, 232);
    border: none;
    padding: 0;
    display: inline-block;
}

.arrow {
    border-radius: 65px;
    width: 130px;
    height: 130px;
    background-color: rgba(235, 76, 43, 1);
    border: none;
    padding: 0;
    margin-left: 112px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 135px;
}

.footer-info {
    width: 1240px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}

.footer-copy {
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(236, 237, 239, 1);
    margin: 0px;
    padding: 0px;
}

.footer-info-point {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: end;
    margin: 0px;
    padding: 0px;
}

.footer-info-point li a {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(236, 237, 239, 1);
    margin-left: 20px
}

.footer-info.info-mobilef {
    display: none;
}

@media screen and (max-width: 1340px) {
    body {
        font-size: 18px;
        height: auto;
        overflow-x: hidden;
    }

    .navbar {
        height: 70px;
    }

    .nav-container {
        width: 1120px;
    }

    .navbar-menu {
        margin-top: 2px;
    }

    section {
        width: 1120px;
    }

    h1 {
        font-size: 40px;
    }

    .dohoda-one {
        font-size: 20px;
    }

    .footer {
        height: 300px;
    }

    .footer-content {
        width: 908px;
    }

    .fot-container {
        margin-top: 126px;
    }

    .footer-brand {
        font-size: 40px;
    }

    .footer-wrap {
        margin-top: 98px;
    }

    .footer-menu {
        padding-left: 100px;
    }

    .footer-menu li {
        padding-bottom: 8px;
    }

    .footer-menu li a {
        font-size: 16px;
    }

    .sm-icons {
        margin-top: 96px;
        padding-left: 94px;
    }

    .instagram {
        margin-bottom: 14px;
        width: 46px;
        height: 46px;
    }

    .telegram {
        width: 46px;
        height: 46px;
    }

    .img-ig {
        width: 46px;
        height: 46px;
    }

    .img-tg {
        width: 46px;
        height: 46px;
    }

    .arrow {
        width: 95px;
        height: 95px;
        margin-top: 102px;
    }

    .img-arrow {
        width: 95px;
        height: 95px;
    }

    .footer-info {
        width: 984px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1199px) {
    body {
        font-size: 16px;
        height: auto;
        overflow-x: hidden;
    }

    .navbar {
        height: 66px;
    }

    .nav-container {
        width: 984px;
        padding-top: 18px;
    }

    section {
        width: 984px;
    }

    h1 {
        font-size: 38px;
    }

    .dohoda-one {
        font-size: 18px;
    }

    .footer {
        height: 300px;
    }

    .footer-content {
        width: 908px;
    }

    .fot-container {
        margin-top: 126px;
    }

    .footer-brand {
        font-size: 40px;
    }

    .footer-wrap {
        margin-top: 98px;
    }

    .footer-menu {
        padding-left: 100px;
    }

    .footer-menu li {
        padding-bottom: 8px;
    }

    .footer-menu li a {
        font-size: 16px;
    }

    .sm-icons {
        margin-top: 96px;
        padding-left: 94px;
    }

    .instagram {
        margin-bottom: 14px;
        width: 46px;
        height: 46px;
    }

    .telegram {
        width: 46px;
        height: 46px;
    }

    .img-ig {
        width: 46px;
        height: 46px;
    }

    .img-tg {
        width: 46px;
        height: 46px;
    }

    .arrow {
        width: 95px;
        height: 95px;
        margin-top: 102px;
    }

    .img-arrow {
        width: 95px;
        height: 95px;
    }

    .footer-info {
        width: 984px;
        margin-top: 60px;
    }
}

@media screen and (max-width: 1023px) {
    body {
        font-size: 16px;
        height: auto;
        overflow-x: hidden;
    }

    .nav-container {
        width: 728px;
    }

    .navbar-brand {
        font-size: 26px;
    }

    .navbar-menu li a {
        margin-left: 30px;
    }

    section {
        width: 728px;
    }

    h1 {
        font-size: 36px;
    }

    .footer-content {
        width: 668px;
    }

    .fot-container {
        margin-top: 132px;
    }

    .footer-brand {
        font-size: 30px;
    }

    .footer-wrap {
        margin-top: 98px;
    }

    .footer-menu {
        padding-left: 55px;
    }

    .sm-icons {
        padding-left: 85px;
    }

    .arrow {
        margin-left: 60px;
    }

    .footer-info {
        width: 728px;
        margin-top: 56px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        height: auto;
        overflow-x: hidden;
    }

    .open {
        display: flex !important;
    }

    .navbar {
        height: 62px;
    }

    .nav-container {
        width: 440px;
        padding-top: 20px;
    }

    .burger {
        display: flex;
    }

    .navbar-brand {
        font-size: 20px;
        z-index: 42;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 170px;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        margin-left: auto;
        z-index: 40;
        overflow-y: auto;
        padding-top: 70px;
        padding-left: 30px;
        background-color: rgba(64, 141, 232, 1);
        animation: burgerAnimation 0.4s;
    }

    .navbar-menu li {
        width: 440px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    .navbar-menu li a {
        font-size: 20px;
        margin-left: 0px;
    }

    section {
        width: 440px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 30px;
    }

    .dohoda-one {
        font-size: 16px;
    }

    .footer-content {
        width: 350px;
        flex-wrap: wrap;
    }

    .fot-container {
        width: 350px;
        margin-top: 40px;
    }

    .footer-brand {
        font-size: 46px;
    }

    .footer-wrap {
        margin-top: 30px;
    }

    .footer-menu {
        padding-left: 0px;
    }

    .footer-menu li {
        padding-bottom: 6px;
    }

    .footer-menu li a {
        font-size: 14px;
    }

    .sm-icons {
        margin-top: 32px;
        padding-left: 70px;
    }

    .instagram {
        margin-bottom: 10px;
    }

    .img-ig {
        width: 37px;
        height: 37px;
    }

    .img-tg {
        width: 37px;
        height: 37px;
    }

    .arrow {
        width: 78px;
        height: 78px;
        margin-top: 38px;
        margin-left: 66px;
    }

    .img-arrow {
        width: 78px;
        height: 78px;
    }

    .footer-info {
        display: none;
    }

    .footer-info.info-mobilef {
        width: 440px;
        height: 30px;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        margin-bottom: 20px;
    }
    
    .footer-copy {
        display: inline-block;
        position: relative;
        width: 440px;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 300;
        color: rgba(236, 237, 239, 1);
        margin: 0px;
        margin-left: auto;
        padding: 0px;
        flex-wrap: wrap;
        height: 15px;
    }

    .info-point-text {
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 300;
        color: rgba(236, 237, 239, 1);
        text-decoration: none;
    }

    .footer-info-point {
        position: relative;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
        list-style-type: none;
    }

    .footer-info-point li {
        font-family: "Montserrat", sans-serif;
        font-size: 10px;
        font-weight: 300;
        color: rgba(236, 237, 239, 1);
        text-decoration: none;
    }
    
    .footer-info-point li a {
        font-family: "Montserrat", sans-serif;
        font-size: 1opx;
        font-weight: 300;
        text-decoration: none;
        color: rgba(236, 237, 239, 1);
        margin: 0px;
        padding: 0px;
        padding-left: 14px;
        position: relative;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:479px) {
    body {
        font-size: 14px;
        height: auto;
        overflow-x: hidden;
    }

    .navbar {
        height: 60px;
    }
    
    .nav-container {
        width: 335px;
        padding-top: 18px;
    }
    
    .navbar-menu {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: none;
        height: 154px;
        padding-top: 66px;
    }
    
    .navbar-menu li {
        display: inline-block;
        width: 335px;
    }
    
    .navbar li a {
        font-size: 18px;
    }
    
    .navbar-brand {
        font-size: 20px;
    }

    section {
        width: 335px;
        margin-top: 18px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 24px;
    }

    .dohoda-one {
        font-size: 16px;
    }

    .footer-content {
        width: 335px;
    }
    
    .fot-container{
        margin-top: 42px;
        width: 335px;
        height: 48px;
        text-align: center;
    }
    
    .footer-brand {
        font-size: 40px;
    }
    
    .footer-wrap{
        margin-top: 40px;
        height: 86px;
        width: 100px;
        padding-left: 20px;
    }
    
    .footer-menu li {
        padding: 0px;
        margin-bottom: 6px;
    }
    
    .footer-menu li a {
        font-size: 14px;
    }
    
    .sm-icons {
        margin-top: 48px;
        padding-left: 50px;
    }
    
    .instagram {
        width: 31px;
        height: 31px;
        margin-bottom: 13px;
    }
    
    .telegram {
        width: 31px;
        height: 31px;
    }

    .img-ig {
        width: 31px;
        height: 31px;
    }
    
    .img-tg {
        width: 31px;
        height: 31px;
    }

    .arrow {
        border-radius: 33px;
        width: 66px;
        height: 66px;
        margin-left: 49px;
        margin-top: 52px;
    }

    .img-arrow {
        width: 66px;
        height: 66px;
    }
    
    .footer-info {
        display: none;
    }

    .footer-info.info-mobilef {
        width: 335px;
        height: 30px;
        margin-top: 32px;
    }
    
    .footer-copy {
        width: 335px;
        font-size: 10px;
        height: 12px;
    }

    .footer-info-point li a {
        font-size: 10px;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
